/* reset della pagina */
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
/* regole di debug */
.container {
  background-color: pink;
}
.container [class*="col-"] {
  height: 150px;
  position: relative;
  border: 1px solid black;
}
.container:last-child > div {
  padding: 5px;
}
.container [class*="col-"] > .container {
  height: 100%;
  background-color: lightcoral;
}
.container > [class*="col-"] > .container > [class*="col-"] {
  height: 100%;
  border-color: white;
}
.title {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
}
/* .content {
  height: 150px;
  padding: 5px;
  text-align: center;
  background-color: pink;
  border: 1px solid black;
} */
/* .content-nested {
  height: 140px;
  background-color: fuchsia;
  border: 1px solid white;
} */
/* .title {
  line-height: 150px;
}
.content-nested .title {
  line-height: 140px;
} */
